/* Стилизация шапки */
header {
  background-color: lightblue;
  padding: 20px;
}

.danger-block {
  max-width: 1500px;
  margin: 0 auto;
}

dd {
  line-height: normal;
}
nav a {
  text-decoration: none;
}

nav span {
  font-family: 'Lato', cursive;
  color: white;
  margin: 0px;
  padding: 10px;
}

/* Стилизация таблицы */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: 'Lato', cursive;
}

/* Стилизация заголовков в <dt> */
dt {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

/* Стилизация изображений */
dd img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Стилизация подвала */
footer {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  color: white;
}
  